body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
.cover-page {
  background-image: url(images/donation1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
}
.cover-page-text {
  text-align: center;
  padding: 120px 300px;
  color: white;
  background-color: rgba(0, 0, 0, 0.404);
}
.cover-page-text h1 {
  font-size: 50px;
  font-weight: 900;
}
.button {
  text-decoration: none;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  background-image: linear-gradient(#e06a3f, #f1694c);
  margin: 0px;
}
.donete {
  text-align: center;
  padding: 100px 300px;
}
.paragraph-colour {
  color: rgb(49, 46, 46);
}
section {
  display: flex;
  margin-bottom: 100px;
}
.button-section {
  padding-left: 300px;
  padding-right: 300px;
}
.amount-button {
  border: none;
  padding: 30px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  margin: 5px 5px;
  cursor: pointer;
  color: rgb(87, 80, 80);
  background-color: transparent;
}

#defrent-buton {
  color: orangered;
  border: 1px solid orangered;
  background-color: antiquewhite;
}

input {
  border-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: rgb(153, 147, 147);
  outline: none;
  text-align: center;
  padding: 10px 200px;
  margin: 30px 340px;
  font-size: 20px;
}
.button2 {
  margin-left: 580px;
}
.donate-plan {
  width: 20%;
  padding: 60px 25px 0px 25px;
  /* margin-left: 100px;
  border-left: 30px; */
  border-radius: 5px;
  text-align: justify;
}
.bg-color1 {
  background-image: linear-gradient(#ebdbd5, #f0e9e8);
  margin-left: 150px;
  border-right: 30px;
}
.bg-color2 {
  background-image: linear-gradient(#d0c6eb, #e2e1e4);
  margin-left: 30px;
  border-right: 100px;
}
.bg-color3 {
  background-image: linear-gradient(#c1e0c1, #d1d6d1);
  margin-left: 30px;
  border-right: 50px;
}
.half-weight {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  text-align: justify;
}
.half-weight img {
  width: 450px;
  height: 400px;
  border-radius: 5px;
}
