body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
.cover-page {
  background-image: url(images/donation1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(10px);
}
.cover-page-text {
  text-align: center;
  padding: 120px 300px;
  color: white;
  background-color: rgba(0, 0, 0, 0.404);
}
.cover-page-text h1 {
  font-size: 50px;
  font-weight: 900;
}
.button {
  text-decoration: none;
  font-weight: 900;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  background-image: linear-gradient(#e06a3f, #f1694c);
  margin: 0px;
}
.donete {
  text-align: center;
  padding: 100px 300px;
}
.paragraph-colour {
  color: rgb(49, 46, 46);
}
section {
  display: flex;
  padding-left: 300px;
  padding-right: 300px;
  margin-bottom: 100px;
}
.amount-button {
  border: none;
  padding: 30px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  margin: 5px 5px;
  cursor: pointer;
  color: rgb(87, 80, 80);
  background-color: transparent;
}

#defrent-buton {
  color: orangered;
  border: 1px solid orangered;
  background-color: antiquewhite;
}

input {
  border-width: 1px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: rgb(153, 147, 147);
  outline: none;
  text-align: center;
  padding: 10px 200px;
  margin: 30px 340px;
  font-size: 20px;
}
.button2 {
  margin-left: 580px;
}
